<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>


		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap"rel="stylesheet"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>
	

		

		<title>Movie-Please</title>
	</head>
	<body>

		<div class="container">
			<div class="content">
				<div class="card">
					<div class="user">
						<img class="user"  src="{{ movie_cover }}" alt="Face"/>
						<div class="profile">
							<div class="name" name="mtitle">{{ movie_title }}</div>
							<br>
							<div class="local">
								<i class="fas fa-theater-masks"></i>
								<span>{{ movie_genre }}</span>
							</div>
						</div>
					</div>
				</div>

				
				<div class="buttons">
					<div class="no">
						<a href="/"><i class="fas fa-times"></i></a>
					</div>
					<div class="star">
						<a href="{{ movie_link }}"><i class="fas fa-play fa"></i></a>
					</div>
					<div class="heart">
						<a href="/addtolist"><i class="fas fa-heart"></i></a>
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>
